@media (max-width:1150px){
   
  .fa-bars{
    display: flex  !important; 
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links{
    display: none;
  }
}
@media (max-width:700px){
    header{
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    
}


@media (max-width:847px){
  .introsection{
   
    padding: 0 !important;
  }
  .introsection .left-side{
    /* background-color: aquamarine; */
    min-width: 500px !important;
    
  }
  .introsection .left-side h1{
    text-align: center !important;
    font-size: 60px !important;
    line-height:65px !important;

  }
  .introsection .left-side small{
    text-align: center;
    font-size: 18px !important;
    
  }
  .introsection .left-side .book-a-call{
    text-align: center;
  }

}

@media (min-width:768px) and (max-width:1345px){
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
    /* flex-basis: 100%; */
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width:768px) {
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
    /* flex-basis: 100%; */
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width:556px) {
  .introsection{
    overflow: hidden;
   
    
  }
  .introsection .left-side h1{
    font-size: 54px !important;
  }
  .introsection .left-side small{
    
    font-size:15px !important;
  }
  .introsection .right-side{
    width: 100%;
  }
}


@media (min-width:741px) and (max-width:982px){
  .companents1, .companents2,.companents3, .companents4{
    /* flex-wrap: nowrap !important; */
    padding: 10px 50px;
    margin: 0 50px !important;
  }
}
@media (max-width:500px) {
  .companents1, .companents2,.companents3, .companents4{
    padding: 10px 20px  !important;
    margin: 0px !important;
    /* width: 50px !important; */
    /* justify-content: space-between; */
  }
}
