@media (max-width:1150px){
   
  header .fa-bars{
   
    display:flex  !important; 
    font-size: 25px !important;
    width: 10px !important;
    cursor: pointer;
    transition: all 1s ease;
  }
  header .fa-bars:hover{
    transform:scale(1.5);
  }
  .nav-links{
    display: none;
  }
}
@media (max-width:700px){
    header{
      padding-right: 15px !important;
      padding-left: 10px !important;
      overflow: hidden;
    }
    
}

/* introsection start */
@media (max-width:847px){
  .introsection{
   
    padding: 0 !important;
  }
  .introsection .left-side{
    
    min-width: 500px !important;
    
  }
  .introsection .left-side h1{
    text-align: center !important;
    font-size: 60px !important;
    line-height:65px !important;

  }
  .introsection .left-side small{
    text-align: center;
    font-size: 18px !important;
    
  }
  .introsection .left-side .book-a-call{
    text-align: center;
  }
}

@media (min-width:768px) and (max-width:1345px){
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
 
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width:768px) {
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
    
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width:556px) {
  .introsection{
    overflow: hidden;
   
    
  }
  .introsection .left-side h1{
    font-size: 54px !important;
  }
  .introsection .left-side small{
    
    font-size:15px !important;
  }
  .introsection .right-side{
    width: 100%;
  }
}
@media (max-width:500px){
  .introsection .left-side h1{
    font-size: 45px !important;
  }
}



/* Trusted-by-companents-section start */

@media  (max-width:982px){
  .companents1, .companents2,.companents3, .companents4{
     flex-basis: 25% !important;
    }
    .trusted-by-companents{
  padding-left: 30px !important; 
    }
}


@media (max-width:519px) {
    .trusted-by-companents{
      padding-left: 0 !important; 
        }
  }




/* .services-section  start*/
@media (max-width:961px)  {
  .service-card{
    flex-basis: 40% !important;
    padding: 10px !important;
    
  }
 
  .services-cards{
   gap: 5px !important;
    
  }
}
@media  (max-width:962px){
  .service-card{
    flex-basis: 20% !important;
  } 
}
  
@media (max-width:830px) {
  .service-card{
    flex-basis: 33% !important;
  }
  .services-section > h1{
    padding-bottom: 50px !important;
  }
}
  
@media (max-width:577px) {
  .services-cards{
    
    flex-direction: column;
    align-items: center;
  
}
.service-card{
  width: 255px !important;
  
}
}

 /* projects section  start*/
 @media (max-width:1193px) {
  .projects-section{
    padding-left: 0 !important;
    /* align-items: center; */
    padding-top: 80px !important;
  }
  .projects-text{
    align-items: center;
  }
    .projects-text-button{
      flex-direction: column;
      padding-right: 0 !important;
      align-items: center;
    }
   .projects-text-button > p{
    text-align: center;
    padding-bottom: 20px;
   }
    

  .projects-cards{
    flex-wrap: wrap !important;
    justify-content: center;
    padding-top: 30px !important;
  }
  .projects-cards .card .card-top{
    width: 486px;
    height: 305px;
 }
}
@media (max-width:506px) {
  .card-top{
    width: 350px !important;
    height: 250px;
  }
}

/* blog-section start */
@media (max-width:1293px) {
  .blog-section .main{
    padding-left: 20px !important;
    padding-right:20px !important;
  }

}
@media (max-width:1038px){
  .blog-section .main{
   flex-direction: column;
   align-items: baseline;
 
   padding-left: 100px !important;
    padding-right:0px !important;
    padding-top: 40px !important;
  }
  .main .blog-left-side{
    padding-bottom: 100px !important;
 
  }
  .blog-section .arrow .material-symbols-outlined{
    width: 40px !important;
    height: 40px !important;
    padding: 8px !important;
    margin:2px !important ;
  
   }
   .blog-section .arrow{
    padding-right: 10px !important;
 }
}
@media(max-width:668px){
  
  .blog-section .main{
    align-items: center;
  }
    
  
}
@media(max-width:582px){
  
  .article-arrow{
    width: 280px !important;
  }
  .blog-right-side .article h6{
     font-size: 12px !important;
 }
   
  .blog-right-side .article h4{
     font-size: 17px !important;
  }
  .main .blog-left-side{
    padding-right: 65px !important;
  }
  .blog-section .arrow .material-symbols-outlined{
    width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
    margin:2px !important ;
  
   }
   .blog-section .arrow{
    padding-right: 10px !important;
 }
}