
/* header start */
@media (max-width:1150px){
   
  header .fa-bars{
   
    display:flex  !important; 
    font-size: 25px !important;
    width: 10px !important;
    cursor: pointer;
    transition: all 1s ease;
  }
  header .fa-bars:hover{
    transform:scale(1.5);
  }
  .nav-links{
    display: none;
  }
}
@media (max-width:700px){
    header{
      padding-right: 15px !important;
      padding-left: 10px !important;
      overflow: hidden;
    }
    
}

/* introsection start */
@media (max-width:847px){
  .introsection{
   
    padding: 0 !important;
  }
  .introsection .left-side{
    min-width: 500px !important;
    padding-top: 80px !important;
    
  }
  .introsection .left-side h1{
    text-align: center !important;
    font-size: 60px !important;
    line-height:65px !important;

  }
  .introsection .left-side small{
    text-align: center;
    font-size: 18px !important;
    
  }
  .introsection .left-side .book-a-call{
    text-align: center;
  }
}

@media (min-width:768px) and (max-width:1345px){
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
 
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width:768px) {
  .introsection{
    flex-direction: column;
    align-items: center;
  }
  .introsection .left-side{
    
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width:556px) {
  .introsection{
    overflow-x: hidden;
   
    
  }
  .introsection .left-side h1{
    font-size: 54px !important;
  }
  .introsection .left-side small{
    
    font-size:15px !important;
  }
  .introsection .right-side{
    width: 100%;
  }
  
}

@media (max-width:500px){
  .introsection .left-side h1{
    font-size: 45px !important;
  }
}



/* Trusted-by-companents-section start */

@media  (max-width:982px){
  .companents1, .companents2,.companents3, .companents4{
     flex-basis: 25% !important;
    }
    .trusted-by-companents{
  padding-left: 30px !important; 
    }
}


@media (max-width:519px) {
    .trusted-by-companents{
      padding-left: 0 !important; 
        }
  }




/* .services-section  start*/
@media (max-width:961px)  {
  .service-card{
    flex-basis: 40% !important;
    padding: 10px !important;
    
  }
 
  .services-cards{
   gap: 5px !important;
    
  }
}
@media  (max-width:962px) {
  .service-card{
    /* background-color: aqua; */
    width: 329px !important;
  } 
}
  
@media (max-width:830px) {
  .services-section > h1{
    padding-bottom: 50px !important;
  }
  .services-section > h1{
    font-weight: 700;
  font-size: 49px !important;
  }
}

@media (max-width:735px) {
  .services-cards{
    flex-direction: column;
    align-items: center;
  
}

.services-section > h1{
 
font-size: 40px !important;
}
.service-card{
  width: 300px !important;
  
}
}

 /* projects section  start*/
 @media (max-width:1193px) {
  .projects-section{
    padding-left: 0 !important;
    padding-top: 80px !important;
  }
  .projects-text{
    align-items: center;
  }
    .projects-text-button{
      flex-direction: column;
      padding-right: 0 !important;
      align-items: center;
    }
   .projects-text-button > p{
    text-align: center;
    padding-bottom: 20px;
   }
    

  .projects-cards{
    flex-wrap: wrap !important;
    justify-content: center;
    padding-top: 30px !important;
  }
  .projects-cards .card .card-top{
    width: 486px;
    height: 305px;
 }
}
@media (max-width:830px){
  .projects-text-button > p{
 
    font-size: 49px !important;
    }
}
@media (max-width:543px){
.projects-text-button > p{
 
font-size: 40px !important;
}
}
@media (max-width:561px) {
  .projects-cards .card{
    width: 400px !important;
    height: 382px !important;
  }
  .projects-cards .card .card-top{
    width: 400px !important;
    height: 219px !important;
    
 }
 .projects-section .card-bottom{
  max-width: 400px !important;
 /* margin-bottom:60px !important ; */
 }
 .projects-cards .card-top img{
  object-fit: cover;
  /* width: 100% !important;
  height: 100% !important; */
  
}
.projects-section .card-bottom{
  padding: 30px !important;
} 
}


/* blog-section start */
@media (max-width:1293px) {
  .blog-section .main{
    padding-left: 20px !important;
    padding-right:20px !important;
  }

}
@media (max-width:1038px){
  .blog-section .main{
   flex-direction: column;
   align-items: baseline;
 
   padding-left: 100px !important;
    padding-right:0px !important;
    padding-top: 40px !important;
  }
  .main .blog-left-side{
    padding-bottom: 100px !important;
 
  }
  .blog-section .arrow .material-symbols-outlined{
    width: 40px !important;
    height: 40px !important;
    padding: 8px !important;
    margin:2px !important ;
  
   }
   .blog-section .arrow{
    padding-right: 10px !important;
 }
}
@media(max-width:668px){
  
  .blog-section .main{
    align-items: center;
    padding-left: 0px !important;
  }
  .blog-right-side .article h4{
    font-size: 21px !important;
 }
 .blog-right-side .article h6{
  font-size: 15px !important;
}
.article-arrow{
  width: 380px !important;
}
  
}
@media(max-width:582px){
  
  .article-arrow{
    width: 280px !important;
  }
  .blog-right-side .article h6{
     font-size: 12px !important;
 }
   
  .blog-right-side .article h4{
     font-size: 17px !important;
  }
  
  .blog-section .arrow .material-symbols-outlined{
    width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
    margin:2px !important ;
  
   }
   .blog-section .arrow{
    padding-right: 10px !important;
 }
 .blog-section .main{
  padding-left: 0 !important;
 }
}

/* product-designer-section */
@media (max-width:1277px) {
  .product-text{
    
    padding: 0 10px!important;
}
  
}
@media (max-width:1038px){
  .product-text{
    flex-direction: column !important;
    align-items: center;
  }
  .product-designer-section .product-left{
    padding: 80px 0 0 !important;
}
.product-designer-section .product-right{
  text-align: center;
    padding: 70px 0 0 !important;
}
}
@media (max-width:653px){
  .product-designer-section .product-right p{
font-size: 19px !important;
  }
}
@media (max-width:572px){
  .product-designer-section .product-right p{
    font-size: 15px !important;
      }
      .product-designer-section .product-left p{
       
    font-size: 49px !important;
    line-height: 59px;
    letter-spacing: 0px !important;
    }
    .product-designer-section .product-left h1{
     
      font-size: 20px !important;
  }
  .product-designer-section .product-right{
      padding: 50px 0 0 !important;
  }
  
}
/*product-designer-section -> product-image start */
@media (max-width:1277px){
  .product-image{
    padding: 115px 10px !important;
    justify-content: space-evenly !important;
  }
}
@media (max-width:1123px){
  .product-image{
    flex-wrap: wrap;
    justify-content:center !important;
    padding: 115px 0 0!important;
  }
  .image-group{
    /* padding: 10px 100px; */
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
    /* gap:50px !important; */
    padding-right: 170px !important;
   
  }
  .image-group img{
  width: 298px !important;
  }
  /* .image-girl img{
    width: 467px !important;
    object-fit: contain;
 
  } */
}
@media (max-width:797px){
  .image-group{
    /* background-color: aqua; */
    flex-direction: column !important;
    align-items: center;
    padding-left: 150px !important;
    width: 300px !important;
   
  }
}

