@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Patrick+Hand&family=Roboto:wght@400;700&display=swap');
@import url(./media-query.css);
body{
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    /* outline: 1px solid black; */
   
}
a{
   
    text-decoration: none;
}
/* header/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header{
    position: sticky;
    top: 0;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:44px 114px 10px;
    z-index: 999;
}

.nav-links a{
    display: inline-block;
   color: black;
   width:100px;
   text-align: center;
   padding: 20px 0;
   border-radius: 50px;
}
header .nav-links a:not(:last-child):hover{
    transition:all .5ms ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
header .nav-links a:last-child:hover{
    transition: all 1s ease-in ;
    transform: translateX(100px);
}
header .fa-bars{
    display: none;
}

/* introsection  start////////////////////////////////////////////////////////////////////////////////////////////////*/
.introsection{
    display: flex;
    justify-content: space-between;
    padding: 0 112.5px;
}

.introsection .left-side h1{
    
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 2px;
    
}
.introsection .left-side h1 span{
     color: #FF8A56;

}
.introsection .left-side{
    display: flex;
    flex-direction: column;
    padding-top: 133.7px;
    min-width: 715px;
}
.introsection .right-side{
    padding-top: 82px;
    min-width: 500px;
}
.introsection .left-side small{
    display: inline-block;
    
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
   
    color: #666666;
    margin-top: 34px;
    margin-bottom: 38px;
}

.introsection .left-side .book-a-call button{
    width: 151px;
    height: 58px;
    background-color:#000;
    color: #fff;
    margin-right: 40px;
}
.introsection .left-side .book-a-call button:hover{
    transition: all .5ms ease-out;
    transform: scale(1.1);
}
.introsection .left-side .book-a-call a{
    margin: 0 15px;
    color: #000;
    font-size: 18px;
}
.introsection .left-side .book-a-call{
    cursor: pointer;
}

.book-a-call:hover .introsection-arrow-img{
     transform: rotate(180deg);
     transition: all .5ms ease ;
}


/* introsection  end*/

/* Trusted-by-companents-section//////////////////////////////////////////////////////////////////////////////////////////// */
.trusted-by-companents-section h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.trusted-by-companents-section .trusted-by-companents{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:15px 0 ;
}
.trusted-by-companents-section {
   
    margin-top: 10px;
    margin-bottom: 10px;


}
.companents1, .companents2,.companents3, .companents4{

 
    margin: 10px 50px ;
    min-width: 141px;
}

/* services-section start//////////////////////////////////////////////////////////////////////////////////////////// */

.services-section > h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
text-align: center;
letter-spacing: 4px;
color: #FF5E69;
padding-top: 70px;
}

.services-section > h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;
text-align: center;
letter-spacing: 1px;
padding-top: 20px;
padding-bottom: 117px;


}
.service-card img{
    min-width: 70px;
}
.services-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service-card > h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
}
.service-card > p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #666666;
padding-top: 25px;
}
.service-card > ul{
    padding-top: 21px;
}
 .service-card > ul > li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
list-style: square;
list-style-position:inside ;
padding-top: 10px;
 }
 .service-card{ 
    min-width: 252px;
    padding: 10px;
    transition: all 1s ease;
 }
 .service-card:hover{
   
    transform:scale(1.1);
   
 }
 /* .services-cards end */

 /* projects section start /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
 .projects-section{
    display: flex;
    flex-direction: column;
    padding-top: 167px;
    padding-left: 113px;
    

 }
 .projects-text > h4{

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;


letter-spacing: 4px;
text-transform: uppercase;

color: #B16CEA;

 }
 .projects-text{
    display: flex;
    flex-direction: column;
 }
 .projects-text-button {
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    padding-right: 112px;
 }
 .projects-text-button > p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;

 }
 .projects-text-button > button{
 width: 201px;
 height: 58px;
 background-color: #000;
 color: #fff;
 cursor: pointer;
 
 transition: all .5ms ease-in;
}
.projects-text-button > button:hover{
    transform: scale(1.1);
 }
 .projects-cards{
    display: flex;
    padding-top: 70px;
    gap: 24px;
    flex-wrap: nowrap;
    
 }
 .projects-cards .card {
   
    max-width: 486px;
    max-height: 468px;
 }
 .projects-cards .card .card-top{
    max-width: 486px;
    max-height: 305px;
    
    
 }
 .projects-cards .card-top img{
    width: 100%;
    height: 100%;
   
    
 }
 .projects-section .card-bottom{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 32px;
   
 }
 .projects-section .card-bottom  h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #3C46FF;
    letter-spacing: 4px;
 }
 .projects-section .card-bottom h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
 }
 .projects-section .card-bottom .view-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.12em ;
    line-height: 18px;
 }
 .projects-cards-link:hover .projects-arrow > img{
    transition: all 1s ease;
    transform:translateX(20px);
 }
 .view-project{
    cursor: pointer;
    margin-right: 9px;
 }


 /* blog-section start /////////////////////////////////////////////////////////////////////////////////////////////*/

 .blog-section .arrow .material-symbols-outlined{
  width: 54px;
  height: 54px;
  color: #000;
  background-color: #FFF;
  padding: 15px;
  cursor: pointer;
  margin:2px ;

 }
 .blog-section .arrow .material-symbols-outlined:hover{
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.425);
    border-radius: 4px;
 }
 .blog-section .arrow{
    padding-right: 112px;
 } 

 .blog-section{
   background-color: #000;
   color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: -176px;
 }
 .blog-section .arrow{
   align-self: flex-end;
   padding-top: 206px;
 }

 .blog-section .main{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    padding-left: 117px;
    padding-right: 112px;
    padding-bottom: 150px;
   
 }
 .blog-section .blog-left-side{
    display: flex;
    flex-direction: column;
    gap: 25px;
 }
 .blog-section .blog-left-side h5{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
letter-spacing: 4px;
text-transform: uppercase;
color: #FFA84B;

}

.blog-section .blog-left-side h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;
letter-spacing: 1px;

 }

 .blog-section .main-blog-link a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #FFF;
}

.blog-section .blog-right-side .article h6{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 16px;
color: rgba(255, 255, 255, 0.7);
}

    
.blog-section .blog-right-side .article h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.blog-section .blog-right-side .article-arrow a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px; 
    color: #FFFFFF;
}
.blog-section .article{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.blog-section .article-arrow{
    border-bottom: 1px solid #ddd;
    width: 550px;
  padding-bottom: 30px;
}

.blog-section .blog-right-side{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.blog-section .view-all{
    padding-right: 20px;
}

.blog-section .blog-right-side .article-arrow:hover .arrow-white{
    transition:all 1s  ease;
    transform: rotate(360deg);
}

.blog-section .blog-left-side .main-blog-link:hover .arrow-white{
    transition: all 1s ease;
    transform: rotate(360deg);
} 



/* product-designer-section start/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.product-designer-section{
    display: flex;
    flex-direction: column;
   
}

.product-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 112.5px;
    
}
.product-designer-section .product-left{
    padding: 156px 0 0;
}
.product-designer-section .product-right{
    padding: 165px 0 0;
}
.product-designer-section .product-left h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #FF5E69;
    
}
.product-designer-section .product-left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;

}
.product-designer-section .product-right p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #666666;
}

/*product-designer-section -> product-image start ////////////////////////////////////////////////////////////////////////////////*/
.product-image{
    display: flex;
    padding: 115px 112.5px 0 ;
    gap: 16px;
   
   
}
.image-group{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* education-work-experience-section  start////////////////////////////////////////////////////////////////////////////////////////////*/
.education-work-experience-section{
    display: flex;
    padding: 154px 112px 0;
    gap: 54px;
    flex-wrap: wrap;
   
}
.education-work-experience-section .education, .work-experience{
    display: flex;
    flex-direction: column;
    gap: 83px;
}
.education-work-experience-section .education h1, .work-experience h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}
.education-companent, .work-experience-companent{
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 530px;
}
.education-companent-top, .work-experience-companent-top{
    display: flex;
    justify-content: space-between;
}
.education-companent-top h4, .work-experience-companent-top h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.education-companent-bottom, .work-experience-companent-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
    border-bottom: 1px solid #E5E5E5;
    padding-right: 50px;
}
.education-companent-bottom h6, .work-experience-companent-bottom h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.education-companent-bottom span, .work-experience-companent-bottom span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}
.work-experience-companent{
    position: relative;
}
.work-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 0px;
    border-radius: 100px;
    padding: 14.3px;
}

.work-experience-companent-top{
     padding-left:60px ;
}
.work-experience-companent-bottom{
    padding-left:60px ;
}
.cehrayi{
    background-color: #FFB4E9;
    padding-left: 15px;
}
.mavi{
    background-color: #A5BEFF;
    padding: 15px;
}
 .sari{
    background-color: #FFC960;
    padding-top: 16px;
}
.education-companent:hover .education-arrow > img{
    transition: all 1s ease;
    transform: rotate(135deg);
}
.work-experience-companent:hover .education-arrow > img{
    transition: all 1s ease;
    transform: rotate(135deg);
}

/* testimonials-section start/////////////////////////////////////////////////////////////////////////////////////////////// */
.testimonials-section .testimonials-head h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4353FF;
}
.testimonials-head h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
}
.testimonials-section{
    padding: 191px 112.5px 150px;
}

.testimonials-image-text{
    padding-top: 85px;
    display: flex;
    gap: 70px;

}
.testimonials-text{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    min-width: 561px;
}
.testimonials-text > img{
    width: 44px;
    height: 44px;
}
.testimonials-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
     padding-top: 30px;
    
}
.john-side-arrow{
    display: flex;
    padding-top: 95px;
    align-items: center;
  justify-content: space-between;
  
}
.testimonials-text .john-side-arrow h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
}

.testimonials-text .john-side-arrow .founder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;    
}

.testimonials-arrow  .material-symbols-outlined{
    width: 54px;
    height: 54px;
    color: rgb(250, 241, 241);
    background-color: rgb(7, 6, 6);
    padding: 11px;
    padding-left: 22px;
    cursor: pointer;
    margin:2px ;
   
   }
   .testimonials-arrow  .material-symbols-outlined:hover {
    background-color: #4338e7be;
    box-shadow:0 0 3px rgb(0, 0, 0);
    

}


   /* faq-section start////////////////////////////////////////////////////////////////////////////////////////////////// */
.faq-section{
    background-color: #000;
    color: #fff;
 }
   .faq-part{
    padding-top: 78px;
    text-align: center;
   }
.faq-section .faq-part h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #FF8A56;
}

.faq-section .faq-part p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    padding-top: 20px;
}
.faq-section-companents{
    padding: 150px 112.5px 71px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.companent-part{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
  
}
.companent-part > div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
    width: 500px;
    padding-bottom: 50px;
    align-items: center;
}
/*  ready-section//////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */
.ready-section{
    padding:178px 112.5px 10px ;
  
}

.ready-section .ready-head h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
}

.ready-section .ready-head h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 0.5px;
    color: #3C46FF;
}
.ready-logo-about{
    padding-top: 102px;
    display: flex;
    justify-content: space-between;
}
.ready-logo-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.ready-logo-part h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666666;

}
.ready-logo-part .adress{
    display: flex;
    align-items: center;
    gap:5px;
}
.ready-logo-part .adress span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: #5C5C5C;
    cursor: pointer;

}
.ready-logo-part .adress img{
    cursor: pointer;
}
.ready-logo-part > img{
    width: 195.61px;
    height: 19.32px;
    

}
.ready-about-part{
    display: flex;
    gap: 130px;
}
.ready-about-part > ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ready-about-part > ul > li{
    cursor: pointer;
}
.ready-about-part > ul > li:hover{
    color: #3C46FF;
}
.faq-section .footer{

    display: flex;
    padding: 141px 112.5px 10px;
    justify-content: start;
   
}

.faq-section .footer a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #8A95AD;
    padding-right: 10px;
    
}
  
